.button {
  background-color: var(--color-water-10);
  border: none;
  color: var(--color-granite);
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-nemo);
}

.button:disabled {
  background-color: darkgray;
  color: transparent;
}
